@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::selection{
  background-color: #69cca4;
  color: #302e2e;
}

.hover-effect {
  @apply relative px-2 flex items-center justify-center m-2 hover:text-neon-green transition-colors duration-300 before:bg-neon-green before:shadow-[0_0_20px_gray] before:h-[1px] before:bottom-0 before:left-0 before:absolute before:w-0 hover:before:w-full before:transition-all before:duration-300 before:ease-in-out;

}

.button {
  --button_radius: 0.75em;
  --button_color: #69cca4;
  --button_outline_color: #010203;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.6em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.4em) translateX(-0.2em);
  transition: transform 0.18s ease;
}

.button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0) translateX(0);
}